:root {
    --primaryColor: #ffffff;
    --primary: #268dee;
    --secondryColor: rgb(105, 105, 105);
    --headerColor: rgb(88, 74, 74);
    --background: #fafafa;
    --inputColr: rgb(255, 255, 255);
    --surface: rgb(95, 20, 20);
    --width: 2px;
    --duration: 0.5s;
    --toggle: #000;
    --edulist: #ffffff;


    /* TextSize */

    --h2: 2.1rem;
    --ph2: 1.7rem;
    --paragrap: 1.6rem;
}

.dark-mode {
    --primaryColor: #000106;
    --primary: #268dee;
    --secondryColor: rgb(226, 218, 218);
    --headerColor: rgb(236, 236, 236);
    --background: #101011;
    --inputColr: rgb(39, 39, 39);
    --surface: #1d1111;
    --toggle: white;
    --edulist: #1d1b1b;
}

:root {
    --headfontsize: 28px;
}

@font-face {
    font-family: fontF;
    src: url(../font/roboto/Roboto-Regular.ttf);
}

/* @font-face {
    font-family: roboto;
    src: url(../font/Poppins/Poppins-ExtraLight.ttf);
} */
@font-face {
    font-family: welcome;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: headName;
    src: url(../font/roboto/Roboto-Bold.ttf);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

h2 {
    width: fit-content;
    font-size: var(--h2);
    text-align: center;
    font-family: poppins;
    color: var(--headerColor);
    padding: 15px;
    position: relative;
    margin: auto;
}

h2::after {
    content: '';
    width: 40%;
    height: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    background-color: var(--primary);
    border-radius: 7px;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
    font-family: roboto, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
}

main .animation-container {
    width: 0;
    height: 100%;
    background-color: rgb(211, 201, 201);
    position: absolute;
    z-index: 100;
    animation: welcome 3s linear;
    right: 0;
    display: none;
}

@keyframes welcome {
    0% {
        width: 100%;
    }

    30% {
        width: 100%;
    }

    70% {
        width: 20%;
    }

    100% {
        width: 0%;
    }
}

main .container {
    width: 100%;
    height: 100%;
    /* margin-top: 60px; */
    overflow-x: hidden;
    background-color: var(--background);
    position: relative;

}

/*--------------------- 1- Header Area CSS (Start) ---------------------*/

main .menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primaryColor);
    z-index: 20;
    /* background-color: brown; */
}

main .menu .toggle-container {
    display: none;
}

.menu .menu-logo-site {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.menu-logo-site img {
    height: 50px;
    /* box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 0.26); */
}

.menu .menu-site {
    width: 600px;
    height: 100%;
    /* background-color: burlywood; */
    display: flex;
    position: static;
    margin-right: 7%;
}

.menu .menu-site .nav_menu {
    width: 80px;
    /* background-color: cadetblue; */
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.menu-site .nav_menu p {
    text-align: center;
    color: var(--secondryColor);
    font-size: 16px;
    float: left;
    font-family: fontF;
    cursor: pointer;
    padding: 7px 0;
}

.nav_menu.modeContainer p {
    display: none;
}

.nav_menu.modeContainer .pl-0 {
    display: none;
}

.nav_menu.active p {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.nav_menu:hover p {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.menu-site .nav_menu svg {
    display: block;
}

.nav_menu.modeContainer .mode-text {
    display: none;
}


/*--------------------- 1- Header Area CSS (End) ---------------------*/


/*--------------------- 2- Home Area CSS (Start) ---------------------*/
/* wrapper */

.container .wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background-color: var(--background);
    padding-top: 20px;
}

.wrapper .profile-site {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    /* background-color: blueviolet; */
}

.profile-site .profile-img {
    width: 350px;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-img .imgProfile {
    width: 300px;
    height: 420px;
    visibility: hidden;
    display: block;
    background-color: var(--surface);
    margin-top: 0px;
    border-radius: 5px;
    /* border-top-left-radius: 50%;
    border-top-right-radius: 50%; */
    /* border-radius: 110px; */
    /* border: 1px solid var(--primary); */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
    position: relative;
}

.profile-img .imgProfile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    /* border-radius: 110px; */
    /* border: 5px solid white; */
}

.profile-site .binner-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.binner-container .binner-text {
    width: 100%;
    height: auto;
    padding-left: 30px;
    /* background-color: rgb(44, 21, 66); */
    /* border-left: 3px solid var(--primary); */
    position: relative;
    visibility: hidden;

}

.binner-container .binner-text::after {
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary);
    animation: centerLine 4s linear;
    visibility: visible;
}

@keyframes centerLine {
    0% {
        height: 0%;
    }

    50% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.binner-text h3 {
    width: fit-content;
    font-size: 25px;
    font-family: headName;
    color: var(--secondryColor);
    visibility: hidden;
}


.binner-text h1 {
    padding: 5px 0;
    font-size: 50px;
    font-family: headName;
    color: var(--secondryColor);
    visibility: hidden;
}

.binner-text h1 big {
    font-size: 50px;
    color: var(--primary);
}

.binner-text p {
    width: 80%;
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: var(--secondryColor);
    visibility: hidden;
    line-height: 25px;
}



.binner-text .downloads {
    width: fit-content;
    /* height: 50px; */
    /* background-color: brown; */
    position: absolute;
    bottom: -100px;
    left: 40%;
    transform: translateX(-50%);
}

.downloads .downloadCv {
    width: fit-content;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary); */
    visibility: hidden;
    border: 2px solid var(--primary);
    border-radius: 7px;
}

.downloadCv p {
    width: fit-content;
    color: var(--primary);
    padding: 7px 10px;
    font-family: fontF;
    opacity: 1;
    z-index: 2;
    visibility: visible;
    /* position: absolute; */
    /* background-color: green; */
    /* display: none; */

}

.downloads .downloadCv:hover {
    border: 2px solid white;
    background-color: var(--primary);
}

.downloadCv:hover p {
    width: auto;
    left: 0px;
    display: block;
    color: white;
    /* background-color: brown; */
}


/*--------------------- 2- Home Area CSS (End) ---------------------*/



/*--------------------- 3- About Area CSS (Start) ---------------------*/


.container .section-about {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    position: relative;
    padding-top: 50px;
}



.section-about .about-container {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    /* background-color: rgb(39, 13, 13); */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}

.about-container .about-text-side {
    flex: 1;
    height: 100%;
    padding-right: 40px;
    color: var(--secondryColor);
    z-index: 10;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;

}

.about-text-side .about-right {
    width: 100%;
    padding: 50px 0;
    order: 1;
    /* height: 50%; */
    /* background-color: rgb(255, 255, 255); */

    border-radius: 10px;


}

.about-right h4 {
    font-size: 22px;
    font-family: roboto, sans-serif;
    padding: 10px 0;
    font-weight: 600;
}

.about-right p {
    font-family: roboto, sans-serif;
    font-weight: 400;
    line-height: 30px;
    /* margin-bottom: 40px; */
}

.about-text-side .about-left {
    width: 100%;
    /* height: 50%; */
    border-radius: 10px;
    padding: 20px 0;

    order: 2;
    /* background-color: rgb(216, 147, 147); */
}

.about-left ul {
    width: 100%;
    height: auto;
    /* background-color: #a52a2a; */
}

.about-left ul li {
    list-style: none;
    width: 100%;
    height: auto;
    /* background-color: rgb(158, 156, 156); */
    margin: 2px 0;
}

.about-left ul li .item {
    width: 100%;
    height: 100%;
    display: flex;
}

ul li .item .icon {
    width: 50px;
    height: 30px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li .item .icon svg {
    width: 20px;
    fill: var(--headerColor);
}

ul li .item .icon svg.date rect {
    fill: var(--secondryColor);
}

ul li .item .icon svg.date path {
    fill: transparent;
    stroke: var(--secondryColor);
}

.about-left ul li .item .details-name p {
    font-family: headName;
    line-height: 30px;
    color: var(--secondryColor);
    /* margin-bottom: 40px; */
}

.item .details-name p small {
    font-family: fontF;
    font-size: 14px;
}

.about-text-side.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: 0.7s;
}

.about-container .about-image-side {
    width: 370px;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.about-image-side h4 {
    font-size: 32px;
    font-family: roboto, sans-serif;
    font-weight: 600;
    color: var(--primary);
    padding-top: 30px;
}

.about-image-side .about-profile {
    width: 100%;
    height: 470px;
    /* transform: translateX(-100%); */
    position: relative;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    visibility: hidden;
    /* border: 5px solid white; */


}

.about-profile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: -15px;
    bottom: -15px;
    z-index: -1;
    border-radius: 5px;
    /* background-color: rgb(194, 194, 194); */
    border: 1px solid rgb(109, 108, 108);
}

.about-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    /* border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; */
}

.about-image-side .about-profile.active {
    animation: fadeInLeft 1s;
    visibility: visible;
}


/*--------------------- 3- About Area CSS (End) ---------------------*/








/*--------------------- 4- Skill Area CSS (Start) ---------------------*/


.container .section-skills {
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: var(--background);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    /* display: none; */
}

.section-skills .skills-container {
    width: 100vw;
    min-height: 100vh;
}

.skills-container .skills-header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(46, 109, 109); */
    position: relative;


}



.skills-container .skills-list {
    width: 80%;
    min-height: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin: 20px auto;
    /* background-color: brown; */
}

.skills-list .skill {
    width: 31%;
    /* min-width: 100px; */
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 7px;
    display: block;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateY(80px);
    padding: 20px;
}

.skills-list .skill::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-left: 1px solid #ff5d56;
    border-right: 1px solid #ff5d56;
    transform: scale(1, 0);
    transition: all 0.6s;
}

.skills-list .skill::before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-top: 1px solid #ff5d56;
    border-bottom: 1px solid #ff5d56;
    transform: scale(0, 1);
    transition: all 0.6s;
}

.skills-list .skill:hover::after,
.skills-list .skill:hover::before {
    transform: scale(1);
}

.skills-list .skill .skillDetails {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgba(24, 24, 24, 0.747);
    transition: 1s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.skill .skillDetails .textSk {
    width: fit-content;
    height: auto;
    /* background-color: blueviolet; */
}

.skillDetails .textSk p {
    margin: auto;
    text-align: center;
    color: rgb(255, 160, 160);
    font-family: welcome;
    padding: 0px 15px;
    visibility: hidden;
    opacity: 0;
}

.skillDetails .textSk h3 {
    /* text-align: center; */
    padding: 0px 15px;
    padding-top: 15px;
    text-align: center;
    color: white;
    visibility: hidden;
    font-family: poppins;
    opacity: 0;
}

.skills-list .skill:hover .skillDetails {
    width: 90%;
    height: 90%;
    opacity: 1;
    transition: 1s;
}

.skills-list .skill:hover .skillDetails h3,
.skills-list .skill:hover .skillDetails p {
    transition: 1s;
    visibility: visible;
    opacity: 1;
    animation: skillanimation 1s;
}

@keyframes skillanimation {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);
    }


    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.skills-list .skill.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease-in;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100px, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.skills-list .skill:nth-child(1).active {
    opacity: 1;
    visibility: visible;
    transition-delay: 200ms;
}

.skills-list .skill:nth-child(2).active {
    opacity: 1;
    visibility: visible;
    transition-delay: 400ms;
}

.skills-list .skill:nth-child(3).active {
    opacity: 1;
    visibility: visible;
    transition-delay: 600ms;
}

.skills-list .skill:nth-child(4).active {
    opacity: 1;
    visibility: visible;
    transition-delay: 200ms;
}

.skills-list .skill:nth-child(5).active {
    opacity: 1;
    visibility: visible;
    transition-delay: 400ms;
}

.skills-list .skill:nth-child(6).active {
    opacity: 1;
    visibility: visible;
    transition-delay: 600ms;
}

@keyframes skillAnimation {
    0% {
        opacity: 0.5;
        visibility: hidden;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

.skill .img-skill {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
}

.img-skill img {
    height: 100px;
    object-fit: cover;
    opacity: 1;
    transition: 1s;
}
.skill:hover .img-skill img{
    opacity: 0;
    transition: 1s;
} 
.skill .skill-body {
    width: fit-content;
    padding: 10px;
    /* display: none; */
}

.skill-body h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: fontF;
}


/*--------------------- 4- Skill Area CSS (End) ---------------------*/


/*--------------------- 5- Education Area CSS (Start) ---------------------*/

/* Education Container */



.container .section-qualification {
    width: 100%;
    height: auto;
    background-color: var(--background);
    padding-top: 50px;

}


.section-qualification .education-container {
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 40px;
}

.section-qualification .education-list {
    width: 50%;
    height: auto;
    margin: auto;
    /* border-left: 2px solid var(--secondryColor); */
    margin-bottom: 30px;
    /* background-color: yellow; */
}

.section-qualification .education-list h3 {
    font-size: 22px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    color: var(--secondryColor);
}

.education-list .education {
    width: 90%;
    height: auto;
    /* background-color: red; */
    margin: 10px auto;
    /* border-left: 2px solid var(--primary); */
    box-shadow: 0 2px 0px 1px rgba(0, 0, 0, 0.123);
    border-radius: 8px;
    background-color: var(--inputColr);
    position: relative;
    /* padding: 10px 0; */
    padding-left: 20px;


}

.education-list .education::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 40%;
    background-color: var(--primary);
    left: -1.5px;
    top: 50%;
    transform: translateY(-50%);
}


.education-list .education h4 {
    font-size: 1.4rem;
    color: var(--secondryColor);
    font-family: roboto, sans-serif;
    font-weight: 300;
    padding: 15px 0;
}

.education .school {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.education h6 {
    font-size: 0.8rem;
    color: var(--secondryColor);
    font-family: roboto;
    font-weight: 400;
    padding-bottom: 5px;


}

.education h6 i {
    padding-right: 5px;
    /* color: black; */
}

.education p {
    padding: 15px 0;
    padding-right: 7px;
    color: var(--secondryColor);
    font-family: roboto;
    font-weight: 300;
    line-height: 1.2;
}



.section-qualification .qualification-list {
    width: 50%;
    height: auto;
    margin-top: 0px;

}

.qualification-list h3 {
    font-size: 22px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    color: var(--secondryColor);
    padding: 0px 15px;
    padding-bottom: 10px;
}

.qualification-list .qualify {
    width: 80%;
    height: auto;
    margin: auto;
    padding-left: 30px;
    /* background-color: red; */
    border-left: 3px solid var(--primary);
    position: relative;
    padding-bottom: 30px;

}

.qualify .graduation-cap {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: var(--primary);
    border-radius: 50%;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.graduation-cap i {
    /* width: 22px; */
    fill: white;
    color: white;
}

.qualify h5 {
    font-size: 17px;
    color: var(--secondryColor);
    width: fit-content;
    padding: 5px 0px;
    /* background-color: #311c1c6b; */
    border-bottom: 1px solid var(--primary);
    /* border-radius: 15px; */
    font-weight: 100;
    position: relative;
}

.qualify h4 {
    text-align: left;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: roboto, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    color: var(--secondryColor);
}

.qualify p {
    width: 100%;
    font-family: roboto, sans-serif;
    font-weight: 300;
    line-height: 25px;
    color: var(--secondryColor);
}







/*--------------------- 5- Education Area CSS (End) ---------------------*/




/*--------------------- 6- Project Area CSS (Start) ---------------------*/


.container .section-projects {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    padding-top: 50px;
    /* display: none; */
}

.section-projects .project-header {
    width: 100%;
    /* background-color: rebeccapurple; */
    margin: auto;
    position: relative;

}


.section-projects p {
    width: 45%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
    font-size: 19px;
    font-family: roboto, sans-serif;
    color: var(--secondryColor);
}

.section-projects .projects {
    width: 100%;
    height: fit-content;
    /* background-color: chartreuse; */
    margin-top: 100px;
    display: flex;
    /* visibility: hidden; */
}


@keyframes projectAnimetion {
    0% {
        visibility: hidden;
        opacity: 0;
        margin-top: 100px;
    }

    70% {
        visibility: visible;
        opacity: 0.5;
        margin-top: 20px;
    }

    100% {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }

}

.projects .nav_right {
    visibility: hidden;
}

.projects .nav_right.active {
    animation: rightAnimation 0.4s linear;
    visibility: visible;
}

.projects .nav_left {
    visibility: hidden;
}

.projects .nav_left.active {
    animation: leftAnimation 0.4s linear;
    visibility: visible;
}

@keyframes leftAnimation {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes rightAnimation {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(200px);
    }


    to {
        visibility: visible;
        opacity: 1;
        transform: none;
    }

}

.projects .projectImage,
.projects .projectInformation {
    width: 50%;
    height: auto;
    /* opacity: 1; */
    /* background-color: rgb(46, 46, 16); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.projectInformation .info-discription p {
    width: fit-content;
    font-size: 17px;
    font-family: welcome;
    padding: 10px 5px;
    text-align: center;
    color: var(--secondryColor);
    margin: 0;
}

.projectInformation .info {
    width: 80%;
    height: auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* background-color: brown; */


}

.info .info-discription {
    width: 90%;
    height: auto;
    /* background-color: red; */
    margin: auto;
}

.info .info-links {
    width: fit-content;
    display: flex;
    margin: auto;
}

.info-links a {
    width: fit-content;
    /* padding: 5px 10px; */
    text-decoration: none;
    margin-right: 5px;
}

.info-links a p {
    padding: 7px 20px;
    width: fit-content;
    background-color: rgb(101, 101, 228);
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.info-links .info-github {
    width: 120px;
    height: 35px;
    background-color: rgb(70, 12, 12);
    border-radius: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.info-github a {
    width: 120px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;


}

.info-github a img {
    width: 30px;
    margin-left: 7px;
}

.info-github a p {
    color: white;
    padding: 0;
    padding-right: 10px;
    font-family: welcome;
    background-color: transparent;
    /* padding: 7px 20px; */
}

.info .info-header {
    width: fit-content;
    height: auto;
    margin: auto;
    /* background-color: blueviolet; */


}

.info .info-header h3 {
    padding: 12px 0px;
    font-size: 25px;
    font-family: welcome;
    text-align: center;
    color: var(--primary);
}

.projects .projectImage .destop-image-container {
    width: 80%;
    height: auto;
    /* background-color: rgb(180, 167, 167); */
    position: relative;
    padding: 0;
    margin: 0;
    /* display: none; */
}



.destop-image-container .destop {
    width: 90%;
    height: auto;
    /* background-color: coral; */
    border: 7px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 0;
    padding: 0;
}

.section-projects .projects:last-child .destop-image-container .destop {
    background-color: brown;
    float: right;
}

.destop-image-container .phone {
    width: 30%;
    height: auto;
    /* background-color: black; */
    position: absolute;
    right: -20px;
    bottom: -20px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.6) 0px 2px 8px -1px;
}

.projects:last-child .destop-image-container .phone {
    left: -20px;
}

.destop img,
.phone img {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    object-fit: cover;
}



/*--------------------- 6- Project Area CSS (End) ---------------------*/


/*--------------------- 7- Contact Area CSS (Start) ---------------------*/

/* wrapper-contact */

.container .section-contact {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    background-color: var(--background);
}

.section-contact .contact-container {
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    /* background-color: rgb(255, 255, 255); */
    padding: 20px 0;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.section-contact .contact-header {
    width: 100%;
    height: 70px;
    text-align: center;
    position: relative;


}


.contact-container .form-site {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    /* background-color: blueviolet; */
}

.form-site form {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 20px 0;
}

.form-site form .field {
    width: 100%;
    height: auto;
    /* background-color: red; */
    margin-top: 10px;
}

.form-site form .field,
.text-field label {
    font-size: 15px;
    font-family: poppins;
    color: rgb(83, 70, 70);
}


.form-site form input {
    padding: 15px 20px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 7px;
    color: var(--secondryColor);
    background-color: var(--inputColr);
    /* color: rgb(189, 187, 187); */
}


.form-site form textarea {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    border: 0;
    font-size: 16px;
    color: var(--secondryColor);
    background-color: var(--inputColr)
}


.form-site form .sbm {
    width: 100%;
    height: 50px;
}

.form-site form .sbm input[type="submit"] {
    padding: 15px 30px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    float: right;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}

.form-site form textarea,
.form-site form input {
    opacity: 0;
    transform: translateY(-80px);
    visibility: hidden;
}

.form-site form textarea.active,
.form-site form input.active {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    transition: 0.8s;
}

@keyframes formAnimation {
    0% {}

    100% {}
}

.leftSocial {
    position: fixed;
    width: 40px;
    height: 200px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgb(139, 11, 11); */
    mix-blend-mode: difference;
}

.container .social {
    width: 60px;
    height: 60px;
    /* background-color: var(--primaryColor); */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    right: 80px;
    z-index: 90;
    box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.11);
    border-radius: 50%;
}

.social .nav_chat {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: var(--primaryColor);
}


.social .nav_chat i {
    font-size: 25px;
    color: var(--secondryColor);
}

.social .nav_socials {
    width: 50%;
    height: 50%;
    /* background-color: rgb(255, 0, 0); */
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    transition: 1s;
}

.social:hover .nav_socials {
    width: 240%;
    height: 240%;
    /* background-color: rgb(255, 0, 0); */
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    animation: socialAnimation 1s linear;
}

@keyframes socialAnimation {
    0% {
        width: 50%;
        height: 50%;
    }

    70% {
        width: 240%;
        height: 240%;
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.nav_socials .social_links {
    width: 30px;
    height: 30px;
    /* background-color: #1d1b1b; */
    position: absolute;
}

.nav_socials .fb_link {
    left: 50%;
    transform: translateX(-50%);
}

.nav_socials .social_links p {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondryColor);
    font-size: 9px;
    display: none;

}

.social_links:hover p {
    display: block;

}

.nav_socials .wh_link {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav_socials .x_link {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav_socials .ins_link {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav_socials img {
    width: 30px;
}

.nav_chat .social_list {
    position: absolute;
    width: 40px;
    height: 150px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    /* transform: translateY(50px); */
    /* background-color: #1d1b1b; */
    top: -150px;
    transition: 1s;
}

.social .nav_chat:hover .social_list {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.nav_chat .social_list ul {
    width: 100%;
    height: 100%;

}

.nav_chat .social_list ul li {
    width: 40px;
    height: 40px;
    /* background-color: var(--primaryColor); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    position: relative;

}

.nav_chat .social_list ul li p {
    font-size: 12px;
    position: absolute;
    right: 50px;
    color: var(--secondryColor);
}

.nav_chat:hover .social_list ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: 100ms;
}

.nav_chat .social_list ul li:nth-child(1) {
    transition-delay: 100ms;
}

.nav_chat .social_list ul li:nth-child(2) {
    transition-delay: 200ms;
}

.nav_chat .social_list ul li:nth-child(3) {
    transition-delay: 300ms;
}

.nav_chat:hover .social_list ul li:nth-child(3) {
    transition-delay: 100ms;
}

.nav_chat:hover .social_list ul li:nth-child(2) {
    transition-delay: 200ms;
}

.nav_chat:hover .social_list ul li:nth-child(1) {
    transition-delay: 300ms;
}



@keyframes chatAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

.nav_chat .social_list ul li i {
    color: var(--secondryColor);
    font-size: 30px;
}

.nav_chat .social_list ul li img {
    width: 70%;
}

.contact-container .social.active {
    background-color: red;
    /* background-image: radial-gradient(180deg, white 0px, red 50px); */
}


.social .socials {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    display: flex;
    /* cursor: pointer; */
    /* background-color: red; */

}

.social .socials:hover {
    width: auto;
    /* background-color: rgb(238, 28, 28); */
    transition: 2s;
}

.socials img {
    width: 30px;

}

.social .socials .social-name {
    width: 0;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social .socials:hover .social-name {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(77, 63, 63); */
    transition: 2s;
}

.socials .social-name p {
    font-size: 15px;
    font-family: fontF;
    color: rgb(252, 10, 10);

    display: none;
    transition: 2s;
}

.socials.whatsapp .social-name p {
    color: rgb(65, 167, 25);
}

.socials.linkIn .social-name p {
    color: rgb(25, 58, 167);
}

.socials.github .social-name p {
    color: rgb(22, 22, 22);
}

.socials.google .social-name p {
    color: rgb(68, 221, 8);
}

.socials:hover .social-name p {
    font-size: 15px;
    font-family: fontF;
    width: fit-content;
    padding: 0px 15px;
    display: block;
    transition: 2s;
    margin-left: 10px;
}



/*--------------------- 7- Contact Area CSS (End) ---------------------*/




/*--------------------- 8- Footer Area CSS (Start) ---------------------*/





/* FOOTER */

footer {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: var(--primaryColor);
    box-shadow: rgba(0, 0, 0, 0.16) 1px -2px 6px;
}

footer .copyRight {
    width: 100%;
    height: 40px;
    background-color: var(--surface);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copy-right {
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: fontF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}

footer .copy-right svg {
    width: 16px;
    fill: white;
}

footer .socialFooter {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialFooter .social-site {
    width: 190px;
    /* height: 40px; */

    /* background-color: white; */
    display: flex;
    justify-content: space-between;

    & .social-items {
        width: 30px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0px 5px 2px #00000031;

        & img {
            width: 100%;
        }



        & svg {
            width: 100%;
            height: 100%;
        }




    }

    & .social-items img.active {
        display: none;
    }

    /* & .social-items:hover img.active{
            width: 100%;
            height: 100%;
            display: block;
        }

        

        & .social-items:hover img{
            display: none;
        } */



    & .social-items:nth-child(3) {
        background-color: rgb(255, 255, 255);
        /* border: 1px solid rgb(9, 48, 87); */


    }

    /*& .social-items:nth-child(2){
        background-color: black;
        width: 35px;
        height: 35px;
    } */
}





/*--------------------- 8- Footer Area CSS (End) ---------------------*/


@media screen and (max-width : 1000px) {

    .section-about .about-container {
        width: 85%;
    }

    .skills-container .skills-list {
        width: 95%;
        min-height: 100%;
        /* background-color: red; */
    }

    .skills-list .skill {
        width: 48%;
        height: 300px;
        visibility: hidden;
        transform: translateY(80px);
        opacity: 0;
    }


    .section-contact .contact-container {
        width: 90%;
        margin: auto;
    }

    .contact-container .form-site {
        width: 90%;
        margin: auto;
    }
}


@media screen and (max-width : 780px) {
    h2 {
        font-size: var(--ph2);
    }

    main {
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .container .menu {
        position: static;
    }

    .menu .menu-logo-site {
        width: 80px;
    }

    .container .menu::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        width: 0%;
        transition: 0.7s;
        height: calc(100vh - 60px);
        background-color: rgba(0, 0, 0, 0.363);
    }


    .container .menu .toggle-container {
        width: 25px;
        height: 100%;
        margin-right: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(223, 99, 99); */
    }

    .container .menu .toggle {
        width: 100%;
        height: 5px;
        position: relative;
        background-color: var(--toggle);
        animation: toggleCenter 1s;
    }

    .container .menu .toggle::after {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        transform: translateY(-9px);
        transition: 1s;
        background-color: var(--toggle);
        animation: toggleAnimation 1s;
    }

    .container .menu .toggle::before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        margin-top: 9px;
        transition: 1s;
        background-color: var(--toggle);
        animation: togglebumAnimation 1s;
    }

    .container .menu .toggle.active {
        width: 100%;
        height: 0px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--toggle);
        animation: toggleCenterActive 1s;
    }

    .container .menu .toggle.active::after {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        transform: rotate(45deg) translateY(0px);
        top: 0%;
        margin: 0;
        transition: 1s;
        /* background-color: black; */
        animation: toggleAnimationActive 1s;
    }

    .container .menu .toggle.active::before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        transform: rotate(45deg);
        top: 0;
        margin: 0;
        transform: rotate(-45deg);
        transition: 1s;
        /* background-color: black; */
        animation: togglebumAnimationActive 1s;
    }


    .container .menu .menu-site {
        position: absolute;
        right: 0;
        width: 0px;
        height: calc(100% - 59px);
        background-color: var(--primaryColor);
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 200;
        transition: 1s;
        margin: 0;
    }

    .container .menu .menu-site::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #00000049;
        left: 0%;
        transition: 1s;
    }

    .container .menu .menu-site.active {
        width: 200px;
        transition: 1s;
        position: fixed;
        margin: 0;
        background-color: var(--primaryColor);
        z-index: 100;

    }

    .container .menu .menu-site.active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000049;
        left: -100%;
    }

    .container .menu .menu-site .nav_menu {
        width: 100%;
        height: 60px;
        visibility: hidden;
        margin: 0;
        transform: translateX(80px);
        transition: 1s;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .container .menu .menu-site .nav_menu.show {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
        color: var(--secondryColor);

    }

    .menu-site .nav_menu:nth-child(1).show {
        /* animation-delay: 200ms; */
        transition: 1s;
        transition-delay: 0ms;

    }

    .menu-site .nav_menu:nth-child(2).show {
        transition: 1s;
        transition-delay: 100ms;
    }

    .menu-site .nav_menu:nth-child(3).show {
        transition: 1s;

        transition-delay: 200ms;
    }

    .menu-site .nav_menu:nth-child(4).show {
        transition: 1s;
        transition-delay: 300ms;
    }

    .menu-site .nav_menu:nth-child(5).show {
        transition: 1s;
        transition-delay: 400ms;
    }

    .menu-site .nav_menu:nth-child(6).show {
        transition: 1s;
        transition-delay: 500ms;
    }

    .menu-site .nav_menu a,
    .menu-site .nav_menu.modeContainer p {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        color: var(--secondryColor);
        /* background-color: red; */
    }

    .menu-site .nav_menu a p {
        color: var(--secondryColor);
        float: left;
    }

    .menu-site .nav_menu svg {
        display: none;
    }

    .nav_menu.modeContainer.active p {
        color: var(--secondryColor);
        border-bottom: none;
    }

    .nav_menu.modeContainer:hover p {
        color: var(--secondryColor);
        border-bottom: 0px solid transparent;
    }

    .menu-site .nav_menu.modeContainer {
        position: relative;
        /* background-color: red; */
    }

    .menu-site .nav_menu.modeContainer .pl-0 {
        position: absolute;
        display: block;
        width: 20px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }



    .container .social {
        bottom: 20px;
        right: 20px;
    }

    .social .nav_socials {
        width: 30px;
        height: calc(40px * 4);
        /* background-color: red; */
        border-radius: 0;
        top: calc(-40px * 4);
        display: none;

    }

    .social:hover .nav_socials {
        width: 30px;
        height: calc(40px * 4);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        animation: none;
        border-radius: 0;
    }

    .social .nav_socials .social_links {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: 100ms;
    }

    .social:hover .nav_socials .social_links {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: 100ms;
        position: relative;

        left: 0;
        top: 0;
    }

    .social:hover .nav_socials .social_links:nth-child(4) {
        transition-delay: 100ms;
    }

    .social:hover .nav_socials .social_links:nth-child(3) {
        transition-delay: 200ms;
    }

    .social:hover .nav_socials .social_links:nth-child(2) {
        transition-delay: 300ms;
    }

    .social:hover .nav_socials .social_links:nth-child(1) {
        transition-delay: 400ms;
    }


    .nav_socials .social_links p {
        left: width;
        top: 50%;
        transform: translateY(-50%);
    }


    .profile-img .imgProfile {
        display: none;
    }


    main .container {
        width: 100%;
        position: relative;
    }


    .container .wrapper {
        width: 100%;
        height: calc(100vh - 60px);
        margin: auto;
        position: relative;
        padding: 0;
    }

    .wrapper .profile-site {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        position: relative;

        /* background-color: blueviolet; */
    }

    .profile-site .profile-img {
        width: 100%;
        height: 100%;
        /* background-color: chocolate; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        position: absolute;
        opacity: 0.1;
    }

    .profile-img .imgProfile {
        width: 100%;
        height: 100%;
        visibility: visible;
        display: block;
        background-color: var(--surface);
        margin-top: 0px;
        border-radius: 5px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
        position: relative;
    }


    .profile-site .binner-container {
        width: 100%;
        /* background-color: red; */
    }

    .binner-container .binner-text {
        padding: 0 5px;
        visibility: visible;
        position: static;

    }

    .binner-container .binner-text::after {
        display: none;
    }

    @keyframes centerLine {
        0% {
            height: 0%;
        }

        50% {
            height: 0%;
        }

        100% {
            height: 100%;
        }
    }
    .binner-text h3{
        width: fit-content;
        font-size: 25px;
        color: var(--secondryColor);
        text-align: center;
        margin: auto;
    }
    .binner-text h1 {
        font-size: 25px;
        font-family: headName;
        line-height: 45px;
        text-align: center;
        visibility: hidden;
    }

    .binner-text h1 big {
        font-size: 1.7rem;
        color: var(--primary);
    }

    .binner-text p {
        font-size: 15px;
        width: 100%;
        text-align: center;
        /* color: black; */
        visibility: hidden;
    }

    .binner-text .downloads {
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
    }

    .downloads .downloadCv {
        width: fit-content;
        padding: 0;

    }

    .downloadCv p {
        width: fit-content;
        font-size: 15px;
        color: var(--primary);
        visibility: visible;
    }



    /*--------------------- 2- Home Area CSS (End) ---------------------*/



    /*--------------------- 3- About Area CSS (Start) ---------------------*/



    .container .section-about {
        width: 100%;
        height: auto;
        position: relative;
        padding: 0;
    }


    .section-about .about-container {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 20px;
        /* background-color: rgb(58, 32, 32); */
        position: static;
        flex-direction: column;
        z-index: 1;
    }


    .about-container .about-image-side {
        width: 100%;
        height: 100%;
        order: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        /* background-color: brown; */
        position: static;
        z-index: 10;
        padding: 0 10px;
    }

    .about-image-side .about-profile {
        width: 85%;
        margin: auto;
    }

    .about-image-side h4 {
        font-size: 23px;
        padding-top: 35px;
    }

    .about-container .about-text-side {
        width: 100%;
        height: 100%;
        padding: 0 15px;
        z-index: 2;
        /* background-color: #fafafa; */
        order: 2;

    }



    .about-text-side .about-left {
        order: 1;
        padding: 5px;
    }

    .about-left ul li .item .icon {
        width: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* background-color: red; */
    }

    .about-text-side .about-right {
        order: 2;
        margin-top: 30px;
        padding: 0;
    }

    /*--------------------- 3- About Area CSS (End) ---------------------*/








    /*--------------------- 4- Skill Area CSS (Start) ---------------------*/


    .container .section-skills {
        position: static;
        padding-top: 20px;
    }

    .section-skills .skills-container {
        width: 100%;
        min-height: 100%;
    }

    .skills-container .skills-list {
        width: 90%;
        min-height: 100%;
    }

    .skills-list .skill {
        width: 100%;
        height: 300px;
        visibility: hidden;
        transform: translateY(80px);
        opacity: 0;
    }

    .skills-list .skill.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 0.3s ease-in;
        /* transition-delay: 200ms; */
    }

    .skills-list .skill:nth-child(1).active {
        opacity: 1;
        visibility: visible;
        transition-delay: 200ms;
    }

    .skills-list .skill:nth-child(2).active {
        opacity: 1;
        visibility: visible;
        transition-delay: 200ms;
    }

    .skills-list .skill:nth-child(3).active {
        opacity: 1;
        visibility: visible;
        transition-delay: 200ms;
    }

    .skills-list .skill:nth-child(4).active {
        opacity: 1;
        visibility: visible;
        transition-delay: 200ms;
    }

    .skills-list .skill:nth-child(5).active {
        opacity: 1;
        visibility: visible;
        transition-delay: 200ms;
    }

    .skills-list .skill:nth-child(6).active {
        opacity: 1;
        visibility: visible;
        transition-delay: 200ms;
    }


    /*--------------------- 4- Skill Area CSS (End) ---------------------*/


    /*--------------------- 5- Education Area CSS (Start) ---------------------*/



    .section-qualification .education-container {
        width: 100%;
        flex-direction: column;
    }

    .section-qualification .education-list {
        width: 90%;

    }

    .section-qualification .education-list h3 {
        font-size: 22px;
        font-weight: 500;
    }

    .education-list .education h4 {
        font-size: 1.4rem;

    }

    .education p {
        font-size: 80%;

    }

    .section-qualification .qualification-list {
        width: 100%;
    }

    .qualification-list h3 {
        font-size: 22px;

    }

    .qualification-list .qualify {
        padding-left: 25px;
        padding-bottom: 50px;


    }

    /*--------------------- 5- Education Area CSS (End) ---------------------*/




    /*--------------------- 6- Project Area CSS (Start) ---------------------*/



    .container .section-projects {
        width: 100%;
        min-height: 100vh;

    }


    .section-projects p {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 8px 20px;
        font-size: 16px;
    }


    .section-projects .projects {
        width: 100%;
        height: auto;
        /* background-color: chartreuse; */
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        /* visibility: hidden; */
    }

    .section-projects .projects:last-child .destop-image-container .destop {
        background-color: brown;
        float: right;
    }

    .section-projects .projects:last-child .destop-image-container .phone {
        background-color: brown;
        left: 0;
    }

    .section-projects .projects:first-child {
        background-color: rgb(94, 60, 60);
    }

    .projects .projectImage,
    .projects .projectInformation {
        width: 90%;
        margin: 5px auto;
    }

    .projects .projectImage {
        height: auto;
        position: static;
        order: 1;
        margin-bottom: 50px;
        /* background-color: blue; */
    }

    .projects .projectImage .destop-image-container {
        position: relative;
        width: 90%;
        height: auto;

        /* display: block; */
        /* background-color: red; */

    }


    .destop-image-container .destop {
        width: 90%;
        height: auto;
        /* display: none; */
    }

    .destop-image-container .phone {
        width: 30%;
        right: 0;
    }

    .projects .projectInformation {
        height: auto;
        order: 2;
    }

    .projectInformation .info {
        width: 100%;
        height: fit-content;


    }

    .info .info-header {
        width: fit-content;
        height: auto;
        margin: auto;
        /* background-color: blueviolet; */


    }

    .info .info-header h3 {
        padding: 12px 0px;
        font-size: 23px;
        font-family: welcome;
        color: blueviolet;
    }

    .info .info-discription {
        width: 90%;
        height: fit-content;
        /* background-color: red; */
        margin: auto;
    }

    .info-discription p {
        width: fit-content;
        font-size: 17px;
        font-family: welcome;
        padding: 0 5px;
        text-align: center;
        height: auto;
        margin: 0;
    }






    /*--------------------- 6- Project Area CSS (End) ---------------------*/


    /*--------------------- 7- Contact Area CSS (Start) ---------------------*/


    .section-contact .contact-container {
        width: 90%;
    }


    .form-site form {
        width: 100%;
    }

    .form-site form .sbm input[type="submit"] {
        padding: 12px 0px;
        width: 100%;
        margin: auto;
        margin-top: 20px;
        float: right;
        border-radius: 5px;
        background-color: blueviolet;
        color: white;
    }

    .contact-container .social {
        position: fixed;
    }


}